<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <script type="text/javascript" src="/javascript/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/javascript/enchant.min.js"></script>
    <script type="text/javascript" src="/javascript/game.js"></script>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title></title>
</head>
<body>
{% csrf_token %}
<div id="stage_url" stageurl="{{ stage_url }}"></div>
<div id="metric_url" metricurl="{{ metric_url }}"></div>
<div id="enchant-stage"></div>
<div id="metric-info">
    <dt>ステージ</dt>
    <dd>{{ metric.stage.title }}</dd>
    <dt>行動回数</dt>
    <dd>{{ metric.operations.count }}</dd>
    <dt>総プレイ時間</dt>
    <dd>{{ metric.get_playtime }}</dd>
    <dt>最終状態</dt>
    <dd>{{ metric.get_state_name }}</dd>
    <dt>プレイ日時</dt>
    <dd>{{ metric.created_at }}</dd>
</div>
</body>
</html>